<form ng-submit="submitCollaboration()">

  <!-- Title -->
  <div class="form-group">
    <label>Title for collaboration</label>
    <input type="text" ng-model="collaboration.title" />
  </div>

  <!-- Description -->
  <div class="form-group">
    <label>Description for collaboration</label>
    <input type="text" ng-model="collaboration.description" />
  </div>

  <!-- Author -->
  <div class="form-group">
    <label>Author</label>
    <input type="text" ng-model="collaboration.author" />
  </div>


  <!-- Category -->
  <div class="form-group">
    <label>Category</label>
    <select class="form-control" ng-model="collaboration.category">
      <option>Idea</option>
      <option>Brainstorming</option>
      <option>Node</option>
    </select>
  </div>
  <!-- Buttons -->
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <input type="submit" class="btn btn-primary" value="Save">
</form>
<br><br>
